header{
    height: 100px;
}
footer{
    height: 50px;
}
main{
    height: calc(100vh - 150px);
    background-color: aquamarine;
}
main > :first-child{
    background-color: #6bd9b4;
}

#overlay{
    background-color: #000000a8;
    z-index: 1;
}
.game-field{
    width: 550px;
    height: 550px;
}
.cell{
    width: calc(100% / 10 - 1px);
    height: calc(100% / 10 );
    border: 1px solid black;
    cursor: crosshair;
}
.blue{
    background-color: #4646ff;
}
.bomb{
    background-color: red;
}

@media screen and (max-width:564px){
    .game-field{
        width: 400px;
        height: 400px;
    }
}

@media screen and (max-width:639px){
    header.main-header{
        height: 160px;
        justify-content: center !important;
    }
    main{
        height: calc(100vh - 210px);
    }
}