footer{
    height: 50px;
}
main{
    height: calc(100vh - 150px);
    background-color: aquamarine;
}
main > :first-child{
    background-color: #6bd9b4;
}

#overlay{
    background-color: #000000a8;
    z-index: 1;
}
.game-field{
    width: 550px;
    height: 550px;
    border: 1px solid black;
}
.cell{
    border: 1px solid black;
    cursor: crosshair;
}
.safe{
    background-color: #4646ff !important;
}
.bomb{
    background-color: red !important;
}
.flag{
    background-color: orange;
}

.on{
    color:darkgreen !important;
}
#flag-mode{
    color: #a70000;
}

@media screen and (max-width:564px){
    .game-field{
        width: 400px;
        height: 400px;
    }
}
